*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --colorw: rgb(255, 250, 242);
    --color1: rgb(255, 156, 26);
    --color2: rgb(87, 143, 255);
    --color3: rgba(0, 0, 0, 0.777);
    --color4: rgb(245, 20, 61);
    --color5: rgb(36, 15, 3);
    --font1: "SN PRO",'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

::-webkit-scrollbar{
    background-color: var(--color2);
    width: 10px;
}


::-webkit-scrollbar-thumb{
    background-color: rgba(255, 128, 0, 0.683);
    border-radius: 20px;
}

::-webkit-scrollbar-track{
    background-color: var(--color5);
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100dvw;
    height: 100dvh;
    background-color: var(--color1);
    font-family: var(--font1);
}

.title{
    font-size: clamp(30px,3dvw, 36px);
    width: 100%;
}

.description{
    font-size: clamp(22px, 2.2dvw, 25px);
    text-align: justify;
    width: 100%;
    font-weight: 400;

}

.container{
    width: clamp(260px, 40dvw, 450px);
    display: grid;
    gap: 15px;
}

.input{
    width: 100%;
    font-size: clamp(20px, 2.2dvw, 23px);
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 8px;
    border: 2px solid var(--color1);
}

.input:focus{
    border: 2px solid var(--color2);
}

.submit{
    width: clamp(100px, 30%, 180px);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 8px;
    font-size: clamp(18px, 2dvw, 22px);
    background-color: var(--color2);
    cursor: pointer;
    font-weight: 600;
}

.message{
    position: absolute;
    top: 2dvw;
    left: calc(50% - (clamp(260px, 40dvw, 450px))/2);
    width: clamp(260px, 40dvw, 450px);
    background-color: var(--color2);
    min-height: 25dvh;
    animation: .35s newMessage, cubic-bezier(0.165, 0.84, 0.44, 1);

    display: none;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;    

    padding: 15px;
    border-radius: 20px;

    & .topper{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 25%;
        & .title-error{
            font-size: clamp(28px, 2.2dvw, 30px);
        }
        & .fa-x{
            font-size: 20px;
            cursor: pointer;
        }
    }

    & .description{
        height: 55%;
        width: 100%;
    }

    & .cont{
        width: 100%;

        & .submit{
            height: 100%;
            background-color: var(--color3);
            color: var(--colorw);
        }
    }
}

.description::selection, .title::selection, .input::selection{
    background-color: var(--color2);
}

.submit, .description, .title, .input{
    transition: .5s all cubic-bezier(0.075, 0.82, 0.165, 1);
}

.submit:hover, .description:hover, .input:hover, .title:hover{
    margin: 0px 0px 0px 5px;
}

@keyframes newMessage {
    0%{
        opacity: 0;
        top: -25dvh;
    }
    100%{
        opacity: 1;
        top: 2dvw;
    }
}

@keyframes returnMessage {
    0%{
        opacity: 1;
        top: 2dvw;
    }

    100%{
        opacity: 0;
        top: -25dvh;
    }
}

@media only screen and (max-width: 720px) {
    @keyframes newMessage{
        0%{
            opacity: 0;
            top: 100dvh;
        }
        100%{
            opacity: 1;
            top: 75dvh;
        }
    }

    @keyframes returnMessage {
        0%{
            opacity: 1;
            top: 75dvh;
        }

        100%{
            opacity: 0;
            top: 100dvh;
        }
    }

    .message{
        left: 0;
        width: 100dvw;
        top: 75dvh;
        border-radius: 10px 10px 0 0;
    }
    
}


.btnmenu{
    position: fixed;
    top: 20px;
    left: 10px;
    z-index: 1;
    font-size: clamp(25px, 2.2dvw, 28px);
    cursor: pointer;
    transition: .5s all cubic-bezier(0.075, 0.82, 0.165, 1);
}

.menu{
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    width: clamp(250px, 24dvw,300px);
    background-color: var(--color5);
    height: 100dvh;
    animation: .5s enterMenu cubic-bezier(0.445, 0.05, 0.55, 0.95);
    color: var(--colorw);
    
    & .title{
        width: calc(clamp(250px, 24dvw,300px) - (clamp(25px, 2.2dvw, 28px) + 40px));
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        padding: 10px;
        margin-left: calc(clamp(25px, 2.2dvw, 28px) + 20px);
    }
    
    & .topper{
        height: 11%;
    }
    
    .settings{
        height: 10%;
    }
    
    & .projects{
        overflow-y: scroll;
        padding-top: 20px;
        height: 80%;
    }

    & h2{
        margin-left: 10px;
    }
    
    & .project{
        padding: 10px;
        display: flex;
        align-items: center;
        gap: 10px;        
        width: 100%;
        cursor: pointer;

        & p{
            font-size: clamp(18px, 2dvw, 22px);
        }

        & .emoji{
            width: 10%;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        & .text{
            width: 90%;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }


    & .project:hover{
        background-color: var(--color3);
    }

}

@keyframes enterMenu {
    0%{
        left: calc(clamp(250px, 24dvw,300px) * -1);
    }
    100%{
        left: 0;
    }
}

@keyframes closeMenu {
    0%{
        left: 0;
    }
    100%{
        left: calc(clamp(250px, 24dvw,300px) * -1);
    }
}
